html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Mono', Tahoma;
    margin: 0;
}

#navbar {
    background-color: #483C32;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 1.4rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Fredericka the Great';
}