html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Fredericka the Great', Tahoma;
    margin: 0;
}

#navbar {
    background-color: #483C32;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 1.4rem;
}

nav a {
    color: #D4BC8C;
    text-decoration: none;
    font-size: 1.3rem;
}

/* nav a:hover {
    background-color: #D4BC8C;
    color: #483C32;
} */

#welcome-section {
    background-color: #283618;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#welcome-section h1, p {
    padding: 0 1rem;
}

h1 {
    font-size: 3.2rem;
    margin-bottom: 0;
    letter-spacing: 0.3rem;
    line-height: 1.3;
    color: #D4BC8C;
}

#welcome-section p {
    font-family: 'Homemade Apple';
    font-size: 1.6rem;
    margin-top: 0.9rem;
    color: #A6531C;
}

#projects {
    background-color: #5C633A;
    color: #D4BC8C;
}

h2 {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    margin-top: 0;
    padding: 1.5rem 0.8rem;
}